<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bbFiles.Properties.Settings.pFilesConnectionString" connectionString="Data Source=kermax.database.windows.net;Initial Catalog=pFiles;Persist Security Info=True;User ID=mjamrowski;Password=Qwerty123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
